@{
    ViewData["Title"] = "Buscar inmuebles por fecha";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <form method="get" asp-action="Busqueda">
        <label for="inicio">Desde...</label>
        <input type="date" name="FechaInicio" id="inicio"/>
        <br>
        <label for="fin">Hasta...</label>
        <input type="date" name="FechaFin" id="fin"/>
        <br>
        <button type="submit">Buscar</button>
    </form>
</div>
