@model Inquilino;
@{
    ViewData["Title"] = "Editar Inquilino";
}

<div class="text-center">
    <h1 class="display-4">Editando Inquilino #@Model.ID</h1>

    <form asp-action="Editar" method="post">
        <label for="CampoNombre">Nombre:</label>
        <input type="text" name="Nombre" id="CampoNombre" value="@Model.Nombre"/> <br>
        <label for="CampoDni">DNI:</label>
        <input type="text" name="DNI" size="10" id="CampoDni" value="@Model.DNI"/> <br>
        <label for="CampoContacto"><abbr title="Se aceptan direcciones, números de teléfono, y correos electrónicos.">Datos de contacto:</abbr></label>
        <textarea name="Contacto" id="CampoContacto" class="form-control" rows="10" cols="60">@Model.Contacto</textarea>
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
    </form>
</div>