@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1>@Context.Request.Query["StatusCode"]</h1>
@switch (Context.Request.Query["StatusCode"]) {
    case "400":
        <h2>Error del pedido.</h2>
        break;
    case "404":
        <h2>No encontrado.</h2>
        break;
    case "401":
        <h2>Sin autorización. Intenta iniciar sesión.</h2>
        break;
    case "403":
        <h2>Acceso restringido.</h2>
        break;
    case "405":
        <h2>Método incorrecto. Ésta webapp sólo admite GET y POST.</h2>
        break;
    case "500":
        <h2>Error del servidor</h2>
        break;
    case "501":
        <h2>Método no implementado.</h2>
        break;
    case "503":
        <h2>Servidor no disponible. Intenta más tarde.</h2>
        break;
    case "505":
        <h2>Versión de HTTP no soportada. Intenta no usar HTTP/3.</h2>
        break;
    default:
        <h2>Error del servidor</h2>
        break;
}
@if (Model.ShowRequestId) {
    <p>
        ID del pedido:
        <code>
            @Model.RequestId
        </code>
    </p>
}
