@{
    ViewData["Title"] = "Editar Propietario";
}

<div class="text-center">
    <h1 class="display-4">Editando Propietario</h1>

    <form asp-action="Editar" method="post">
        <input type="text" name="Nombre" id="CampoNombre" class="form-control" placeholder="Nombre"/> <br>
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
    </form>
</div>