@{
    ViewData["Title"] = "Nuevo Propietario";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <form asp-action="Nuevo" method="post">
        <input type="text" name="Nombre" class="form-select" placeholder="Nombre"/> <br>
        <label for="CampoDni">DNI:</label>
        <input type="text" name="DNI" size="10" id="CampoDni"/> <br>
        <label for="CampoContacto"><abbr title="Se aceptan direcciones, números de teléfono, y correos electrónicos.">Datos de contacto:</abbr></label>
        <textarea name="Contacto" id="CampoContacto" class="form-control" rows="10" cols="60"></textarea>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>