@{
    ViewData["Title"] = "Acceso Denegado";
}

<div class="text-center">
    <h1 class="display-4 text-danger">Acceso Denegado</h1>
    <p>
        El acceso a las funciones de usuario es exclusivo del administrador.
    </p>
</div>
