@{
    ViewData["Title"] = "Acceso Denegado";
}

<div class="text-center">
    <h1 class="display-4 text-danger">Acceso Denegado</h1>
    <p>
        Ésta función está limitada a administradores.
    </p>
</div>
