@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <h2 class="display-7">Inmobiliaria .NET, versión 0.6</h2>
    <p>
        Hecho por Astor Aricó <br>
        Crea inmuebles, haz contratos, suma inquilinos, y más.
    </p>
</div>
