@model List<Usuario>;
@{
    ViewData["Title"] = "Central de Usuarios";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>
        Los usuarios registrados en ésta webapp <br>
        <a asp-action="Nuevo">Nueva entrada</a>
    </p>
    <table class="table primary">
        <thead>
            <th>#</th>
            <th>Nombre</th>
        </thead>
        @foreach (var item in Model) {
            <tr>
                <td>@item.ID</td>
                <td><a asp-action="Detalles" asp-route-id= "@item.ID">@item.NombreUsuario</a></td>
            </tr>
        }
    </table>
</div>
