@{
    ViewData["Title"] = "Nuevo Usuario";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <form asp-action="Nuevo" method="post">
        <input type="text" name="NombreUsuario" id="CampoNombre" class="form-control" placeholder="Nombre de usuario"/> <br>
        <input type="password" name="Clave" id="CampoClave" class="form-control" placeholder="Contraseña"/> <br>
        <label for="CampoRol">Rol: </label>
        <select name="Rol" class="form-select" id="CampoRol">
            <option value="Admin">Administrador</option>
            <option value="Empleado">Empleado</option>
        </select>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>