@model List<Inmueble>;
@{
    ViewData["Title"] = "Central de Inmuebles";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>
        No se me ocurre qué poner aquí por ahora. <br>
        <a asp-action="Nuevo">Nueva entrada</a>
    </p>
    <ul>

    </ul>
    @foreach (var item in Model) {
            <li>#@item.ID, ubicado en <a asp-action="Detalles" asp-route-id= "@item.ID">@item.Dirección</a></li>
    }
</div>
